@media all and (max-width: 1000px) {
    .wisata {
      width: 50%;
      margin-bottom: 50px;
    }
    
    .makanan {
        width: 50%;
        margin-bottom: 50px;
      }

    .top-wrapper h1 {
      font-size: 32px;
    }
    
    .heading h2 {
      font-size: 20px;
    }
  }
  
  /* Untuk Smartphone */
  @media all and (max-width: 670px) {
    .wisata {
      width: 100%;
    }
    
    .makanan {
      width: 100%;
    }
       
    .top-wrapper {
      text-align: left;
    }
        
    /* Tambahkan CSS untuk menu-icon */
    .menu-icon {
      display: block;
    }
    
    .top-wrapper h1 {
      font-size: 24px;
      line-height: 36px;
    }
    
    .top-wrapper p {
      font-size: 14px;
      line-height: 20px;
    }

    footer {
      width: 100%;
    }
  }
